*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 20px;
    gap:20px;
    /* min-height: 100vh; */
}
hr{
    color: #FFCDCD;
    background-color: #FFCDCD;
    height: 1px;
    border: none;
}
.container{
    background-color: #FFE5E5;
    border-radius: 20px;
    border: 1px solid #F2D4D4;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25) ;
}
/* trái */
.today_box{
    background-color: #fff ;
    border-radius: 20px;
    border: 1px solid #471515;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25) ;
    margin: 15px;
    padding:15px;
}

/* phải */

#task{
    padding: 20px;
}

#search-box {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 570px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #CAA1A1;
    outline: none;
    background: #ffffff;
}
#search-box input {
    margin-left: 10px;
    color: #4B1E1E;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: transparent;
}
#searchInput::placeholder {
    color: #A28F8F; 
    font-weight: bold;
}


#filter-bar {
    display: inline-flex;
    background: #F6D1D1;
    border-radius: 40px;
    border: 1px solid #CAA1A1;
    gap: 5px;
    margin-bottom: 5px;
}

.filter-btn {
    border: none;
    background: transparent;
    padding: 8px 25px;
    cursor: pointer;
    font-weight: bold;
    color: #471515;
    transition: all 0.3s ease;
}

.filter-btn.active {
    background: #FF7C7C;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    border: 1px solid #EB5252;
}

.filter-btn:hover {
    background: rgba(255, 107, 107, 0.2);
}
#detail_task{
    display: grid;
    grid-template-columns: 7fr 3fr;     
    gap: 10px;
}
#tasks {
    width: 100%;
}
#detail{
    width: 100%;
}
#add_new{
    display: flex;
    align-items: center;
    padding: 8px;
    padding-left: 21px;
    width: 570px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #471515;
    outline: none;
    background: #ffffff;
}

#task_list{
    max-height: 380px;
    overflow-y: overlay;
}
#task_list::-webkit-scrollbar {
    width: 6px;
    border: 3px solid #FFE5E5;
}

#task_list::-webkit-scrollbar-track {
    background: #ffffff; 
    border: 1px solid #FFC2C2;
    border-radius: 10px;
}

#task_list::-webkit-scrollbar-thumb {
    background: #BF1919; 
    border: 1px solid #471515;
    border-radius: 10px;
}

.task-card {
    width: 570px;
    background: #FFF4F4;
    border: 1px solid #FFC2C2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding:9px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}

.bookmark{
    width: 20px;
    height: auto;
}

.task-content {
    flex: 1;
}

.task-title {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: #4B1E1E;
    margin-bottom: 5px;
}

.pomodoro {
    display: flex;
    align-items: center;
    gap: 2px;
}

.pomodoro img {
    width: 15px;
    height: auto;
}

.pomodoro-text {
    font-size: 15px;
    margin-left: 10px;
    color: #3b1c1c;
}

.task-actions {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
}
.task-actions img{
    width: 16px;
    height: 16px;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3333 1H2.66667C1.74619 1 1 1.74619 1 2.66667V14.3333C1 15.2538 1.74619 16 2.66667 16H14.3333C15.2538 16 16 15.2538 16 14.3333V2.66667C16 1.74619 15.2538 1 14.3333 1Z' stroke='%23471515' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

input[type="checkbox"]:checked{
   background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.91667 13.75L15.2604 6.40625L13.8021 4.94792L7.91667 10.8333L4.94792 7.86458L3.48958 9.32292L7.91667 13.75ZM2.08333 18.75C1.51042 18.75 1.01997 18.546 0.611979 18.138C0.203993 17.73 0 17.2396 0 16.6667V2.08333C0 1.51042 0.203993 1.01997 0.611979 0.611979C1.01997 0.203993 1.51042 0 2.08333 0H16.6667C17.2396 0 17.73 0.203993 18.138 0.611979C18.546 1.01997 18.75 1.51042 18.75 2.08333V16.6667C18.75 17.2396 18.546 17.73 18.138 18.138C17.73 18.546 17.2396 18.75 16.6667 18.75H2.08333ZM2.08333 16.6667H16.6667V2.08333H2.08333V16.6667Z' fill='%23471515'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.task-actions button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.task-actions button:hover {
    transform: scale(1.1);
}

#detail{
    background-color: #FFF4F4;
    border: 1px solid #FFD8D8;
    border-radius: 20px;
    padding:20px;
}
.title_detail{
    display: flex;
    justify-content: space-between;
}
.task_detail_content{
    background-color: #fff;
    border: 1px solid #471515;
    padding: 15px;
    margin-top: 5px;
    border-radius: 20px;
}
.due-date-text {
    background-color: #FFF7D5;
    border: 1px solid #F9C64F;
    width: 100px;
    text-align: center;
    font-size: 9px;
    color: #4B1E1E;
    border-radius: 20px;
    padding: 5px;
    margin-top: 5px;
}

h4{
    color: #4B1E1E;
    font-weight: bold;
}
.mode_btn{
    display: flex;
    justify-content: space-between;
}
.mode-option_label{
    color: #4B1E1E;
    font-size: 12px;
}
.mode-option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border: 1px solid #b23a3a;
  border-radius: 40px;
  color: #3b1f1f;
  position: relative;
}

.mode-option input {
  display: none;
}

.custom-box {
   appearance: none;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.3333 1H2.66667C1.74619 1 1 1.74619 1 2.66667V14.3333C1 15.2538 1.74619 16 2.66667 16H14.3333C15.2538 16 16 15.2538 16 14.3333V2.66667C16 1.74619 15.2538 1 14.3333 1Z' stroke='%23471515' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.mode-option input:checked + .custom-box {
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.91667 13.75L15.2604 6.40625L13.8021 4.94792L7.91667 10.8333L4.94792 7.86458L3.48958 9.32292L7.91667 13.75ZM2.08333 18.75C1.51042 18.75 1.01997 18.546 0.611979 18.138C0.203993 17.73 0 17.2396 0 16.6667V2.08333C0 1.51042 0.203993 1.01997 0.611979 0.611979C1.01997 0.203993 1.51042 0 2.08333 0H16.6667C17.2396 0 17.73 0.203993 18.138 0.611979C18.546 1.01997 18.75 1.51042 18.75 2.08333V16.6667C18.75 17.2396 18.546 17.73 18.138 18.138C17.73 18.546 17.2396 18.75 16.6667 18.75H2.08333ZM2.08333 16.6667H16.6667V2.08333H2.08333V16.6667Z' fill='%23471515'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
textarea {
    width: 100%;
    height: 80px;
    padding: 8px;
    border: 1px solid #FDD533;
    border-radius: 15px;
    background-color: #FFFAE4;
    color: #471515;
    font-size: 9px;
    resize: none; 
    outline: none; 

}

.priority-select {
  width: 100%;
  padding: 8px;
  font-size: 10px;
  border: 1px solid #b23a3a;
  border-radius: 0;
  background: white;
  color: #4B1E1E;
  cursor: pointer;
  appearance: none;
}
.priority-select:focus {
  outline: none;
}
#btn_start{
    background-color: #FF7272;
    border: 3px solid #FFC2C2;
    padding: 8px 18px;
    border-radius: 20px;
}